*{margin:0;padding:0;}

body{
    background:url(../imagens/misc/muito-obrigado.jpg)!important;
    background-size:cover!important;
    background-position: 50% 25%!important;
    background-repeat:no-repeat!important;
    display:flex;
    justify-content:center;


}
h1{
    font-size: 250px;
    color:RED;
    font-weight:1000;
    text-decoration: underline blue;
   
    
}
