/*APREZENTAÇÃO DO SHREK*/
#tela-inicial{
   
}

.background-texto-img{width:100%;height: 100vh;}

.caixa-verde-do-logo-do-shrek{
    background-color:#005819C7;
    border-radius:5000px;
    width: 50%;
    height:25% ;
    position:absolute;
    top:57%;
    left:25%;
}

.logo-shrek{
    position:absolute;
    top:48%;
    left:25%;
    width:50%; 
}

/*APREZENTAÇÃO DO SHREK*/

/*PERSONAGENS*/
.caixa-de-titulo{
    position:absolute;
    display: flex;
    background:#519627E0;
    width: 100%;
    height: 130px;
    justify-content: center;
}
.caixa-de-titulo h1{position:absolute;color:white;font-size: 80px;}
.tamanho-background-personagens{width:100%;}

.sobre-personagem{
    position: absolute;
    margin-top:17% ;
    width: 100%;
    height: 495px;
}
.shrek{background:#2980008A;}
.burro{background:#8C3B00AB;}
.fiona{background:#06BAE18A;}
   
.personagem-shrek{
    position:absolute;
    width:400px;
    height:400px ;
    margin-top:19.5%;
    margin-left: 62%;
    background:url(../imagens/shrek.png) no-repeat center;
    background-size: cover;

    border-radius: 200px;
}
.personagem-burro{
    position:absolute;
    width:400px;
    height:400px ;
    margin-top:19.5%;
    margin-left: 8%;
    background:url(../imagens/burro.jpg) no-repeat center;
    background-size: cover;

    border-radius: 200px;
}
.personagem-fiona{
    position:absolute;
    width:400px;
    height:400px ;
    margin-top:19.5%;
    margin-left: 62%;
    background:url(../imagens/fiona.jpg) no-repeat center;
    background-size: cover;

    border-radius: 200px;
}
.titulo-apresentacao-do-personagem{
    margin-top: 4.5%;
    color:white;
    font-size: 50px;
}
.texto-apresentacao-do-personagem{
    color:white;
    font-size: 25px;
}
.cx-texto-apresentacao-do-personagem{width: 500px;text-align: justify;text-indent:5%;}
.cx-texto-shrek{margin-left:10%;width: 120%!important;}
.cx-texto-burro{margin-left:58%;}
.cx-texto-fiona{margin-left:7%;}




/*PERSONAGENS*/


/*FILMES*/
.background-filmes-shrek-1-2-3{width:33%;height:900px;}
.background-filme-shrek-para-sempre{width:100%;height:900px;;object-fit:cover;object-position:center;}
.sobre-filme-shrek-1-2-3{
    position:absolute;
    margin-top:12% ;
    width:33%;
    height:78%;
    background:#011301B0;
}

.ajuste-sobre-filme-shrek-1{left:0%;}
.ajuste-sobre-filme-shrek-2{left:33.25%;}
.ajuste-sobre-filme-shrek-3{left:66.5%;}

.sobre-filme-shrek-para-sempre{
    position:absolute;
    margin-top: 9%;
    width:100%;
    height:70%;
    background:#011301B0;
}
.config-texto-filmes{color:white;font-size: 18px;text-align: justify;}
.cx-texto-filmes-shrek-1-2{width:80%;margin-left:10%;margin-top:8%;}
.cx-texto-filme-shrek-3{width:80%;margin-left:10%;margin-top:2%;}
.cx-texto-filme-shrek-para-sempre{width:33%;margin-left:33%;margin-top:1.5%;}

.config-titulo-filmes-shrek-1-2{font-size:45px;text-align:center;}
.config-titulo-filme-shrek-3{font-size:45px;text-align:center;}
.config-titulo-filme-shrek-para-sempre{font-size:45px;text-align:center;}

/*FILMES*/


/*TELAS MENORES*/

/*CELULAR*/
@media only screen and (max-width:390px){
    .background-texto-img{object-fit:cover;}

    .caixa-verde-do-logo-do-shrek{
        width: 80%;
        height:100px ;
        top:52%;
        left:10%;
    }
    
    .logo-shrek{
        top:50%;
        left:10%;
        width: 80%; 
    }

    .caixa-de-titulo{
        position:absolute;
        display: flex;
        background:#519627E0;
        width: 100%;
        height: 80px;
        justify-content: center;
    }
    .caixa-de-titulo h1{position:absolute;top:25%;color:white;font-size: 30px;}
    .tamanho-background-personagens{width:100%;height:100vh;object-fit: cover;}
    
    .sobre-personagem{
        position: absolute;
        margin-top:50% ;
        background: #2980008A;
        width: 100%;
        height: 500px;
    }
    .burro{background:#8C3B00AB ;}
    .fiona{background:#06BAE18A ;}

    .personagem-shrek{
        position:absolute;
        width:150px;
        height:150px ;
        margin-top:25%;
        margin-left: 30%;
        background:url(../imagens/shrek.png) no-repeat center;
        background-size: cover;
    
        border-radius: 200px;
    }
    .personagem-burro{
        position:absolute;
        width:150px;
        height:150px ;
        margin-top:25%;
        margin-left:30%;
        background:url(../imagens/burro.jpg) no-repeat center;
        background-size: cover;
    
        border-radius: 200px;
    }
    .personagem-fiona{
        position:absolute;
        width:150px;
        height:150px ;
        margin-top:25%;
        margin-left: 30%;
        background:url(../imagens/fiona.jpg) no-repeat center;
        background-size: cover;
        border-radius: 200px;
    }
    .titulo-apresentacao-do-personagem{
        color:white;
        font-size: 35px;
        margin-top: 20%;
    }
    .texto-apresentacao-do-personagem{
        color:white;
        font-size: 20px;
    }
    .cx-texto-apresentacao-do-personagem{
        width: 75%;
    }
    .cx-texto-shrek{margin-left:10%;}
    .cx-texto-burro{margin-left:10%;}
    .cx-texto-fiona{margin-left:10%;}

    /*FILMES*/
    .background-filmes-shrek-1-2-3{width:100%;height:50%;}
    .background-filme-shrek-para-sempre{width:100%;height:500px;}
    .sobre-filme-shrek-1-2-3{
        position:absolute;
        margin-top:25% ;
        width:100%;
        height:46.4%;
        background:#011301B0;
    }

    .ajuste-sobre-filme-shrek-1{left:0;margin-top:22.3%;}
    .ajuste-sobre-filme-shrek-2{left:0;margin-top:143.5%;height:49.4%;}
    .ajuste-sobre-filme-shrek-3{left:0;margin-top:273.5%;height:60.4%;}

    .sobre-filme-shrek-para-sempre{
        position:absolute;
        margin-top:5%;
        width:100%;
        background:#011301B0;
        height:50.4%;
    }
    .config-texto-filmes{color:white;font-size: 15px;}
    .cx-texto-filmes-shrek-1-2{width:80%;margin-top:3%;}
    .cx-texto-filme-shrek-3{width:80%;margin-top:3%;}
    .cx-texto-filme-shrek-para-sempre{width:80%;margin-top:3%;margin-left: 10%;}

    .config-titulo-filmes-shrek-1-2{font-size:30px;margin-left:38%;}
    .config-titulo-filme-shrek-3{font-size:30px;margin-left:24%;}
    .config-titulo-filme-shrek-para-sempre{font-size:30px;margin-left:13%;}

    /*FILMES*/
 

    }


/*CELULAR*/




/*TELAS MENORES*/