*{box-sizing:border-box;}
body{margin-top:100px;}

/*APREZENTAÇÃO DO SHREK*/
.fonte-A{}
.background-texto-img{width:100%;height: 100vh;}




.caixa-verde-do-logo-do-shrek{
    background-color:#005819C7;
    border-radius:5000px;
    width: 50%;
    height:25% ;
    
}

.logo-shrek{
    display: flex;
    position:absolute;
    top:50%;
    left:27%;
    width:900px; 
}

/*APREZENTAÇÃO DO SHREK*/

/*PERSONAGENS*/
.caixa-de-titulo{
    position:absolute;
    display: flex;
    background:#519627E0;
    width: 100%;
    height: 130px;
    justify-content: center;
}
.caixa-de-titulo h1{position:absolute;color:white;font-size: 80px;}
.tamanho-background-personagens{width:100%;}

.sobre-personagem{
    position: absolute;
    margin-top:17% ;
    width: 100%;
    height: 495px;
}
.shrek{background:#2980008A;}
.burro{background:#8C3B00AB;}
.fiona{background:#06BAE18A;}
   
.personagem-shrek{
    position:absolute;
    width:400px;
    height:400px ;
    margin-top:19.5%;
    margin-left: 62%;
    background:url(../imagens/shrek.png) no-repeat center;
    background-size: cover;
    border-radius: 200px;
}
.personagem-burro{
    position:absolute;
    width:400px;
    height:400px ;
    margin-top:19.5%;
    margin-left: 8%;
    background:url(../imagens/burro.jpg) no-repeat center;
    background-size: cover;
    border-radius: 200px;
}
.personagem-fiona{
    position:absolute;
    width:400px;
    height:400px ;
    margin-top:19.5%;
    margin-left: 62%;
    background:url(../imagens/fiona.jpg) no-repeat center;
    background-size: cover;
    border-radius: 200px;
}
.titulo-apresentacao-do-personagem{
    font-weight: 1000;
    margin-top: 4.5%;
    color:white;
    font-size: 55px;
}
.texto-apresentacao-do-personagem{
    color:white;
    font-size: 25px;
}
.cx-titulo-ajuste{margin-left: 17%;}
.cx-titulo-ajuste-burro{margin-left: 59%;}
.cx-titulo-ajuste-fiona{margin-left: 12%;}
.cx-texto-apresentacao-do-personagem{width: 500px;text-align:justify;text-indent:5%;}
.cx-ajuste-shrek{width:100%;}
.cx-texto-shrek{margin-left:10%;width: 600px;}
.cx-texto-burro{margin-left:57%;}
.cx-texto-fiona{margin-left:7%;}




/*PERSONAGENS*/


/*FILMES*/
.background-filmes-shrek-1-2-3{width:33%;height:900px;}
.background-filme-shrek-para-sempre{width:100%;height:900px;object-fit:cover;object-position:center;}
.sobre-filme-shrek-1-2-3{
    
    position:absolute;
    margin-top:12% ;
    margin-left:1.5%;
    width:31%;
    height:75%;
    border-radius: 10px;
    background:#011301B0;
}

.ajuste-sobre-filme-shrek-1{left:0%;}
.ajuste-sobre-filme-shrek-2{left:33.25%;}
.ajuste-sobre-filme-shrek-3{left:66.5%;}

.sobre-filme-shrek-para-sempre{
    
    position:absolute;
    margin-top: 9%;
    width:100%;
    height:70%;
    background:#011301B0;
}

.config-texto-filmes{color:white;font-size: 18px;text-align:center;}
.cx-texto-filmes-shrek-1-2{width:80%;margin-left:10%;margin-top:8%;}
.cx-texto-filme-shrek-3{width:80%;margin-left:10%;margin-top:2%;}
.cx-texto-filme-shrek-para-sempre{width:33%;margin-left:33%;margin-top:2%;}

.config-titulo-filmes-shrek-1-2{text-decoration:underline;font-size:45px;text-align:center;}
.config-titulo-filme-shrek-3{text-decoration:underline;font-size:45px;text-align:center;}
.config-titulo-filme-shrek-para-sempre{text-decoration:underline;font-size:45px;text-align:center;margin-top:5%;}
.posicao-botao-shrek1{margin-top:19.6%;}
.posicao-botao-shrek2{margin-top: 12.3%;}
.posicao-botao-shrek3{margin-top: 5%;}
.posicao-botao-shrek-para-sempre{margin-top:2%;}

.botao-assistir{
    transition: 0.5s all;
    color: rgb(4, 37, 0);
    border:solid 2px rgb(26, 90, 0);
    border-radius: 100px;
    font-weight:1000;
    background:radial-gradient(rgb(60, 255, 0),rgb(10, 119, 0));
    font-size: 35px;
    padding: 10px 15px;
    font-family:fantasy;
}
.botao-assistir:hover{
    transition: 0.5s all;
    cursor:pointer;
    font-size:40px;
    color: rgb(255, 255, 255);
    font-weight: 1000;
    font-family:fantasy;
}
/*FILMES*/


/*TELAS MENORES*/

/*CELULAR----------------------------------------------------------------------*/
@media only screen and (max-width:480px){
    .background-texto-img{object-fit:cover;}

    .caixa-verde-do-logo-do-shrek{
        background-color:#005819C7;
        border-radius:100px;
        padding:10px;
        width:100%;
        height:25%;
    }
    
    .logo-shrek{
        display:flex;
        position:absolute;
        top:50%;
        left:8%;
        width:400px; 
        height:150px;
    }

    .caixa-de-titulo{
        position:absolute;
        display: flex;
        background:#519627E0;
        width: 100%;
        height: 80px;
        justify-content: center;
    }
    .caixa-de-titulo h1{position:absolute;top:25%;color:white;font-size: 30px;}
    .tamanho-background-personagens{width:100%;height:100vh;object-fit: cover;}
    
    .sobre-personagem{
        position: absolute;
        margin-top:50% ;
        background: #2980008A;
        width: 100%;
        height: 500px;
    }
    .burro{background:#8C3B00AB ;}
    .fiona{background:#06BAE18A ;}

    .personagem-shrek{
        position:absolute;
        width:150px;
        height:150px ;
        margin-top:35%;
        margin-left:35%;
        background:url(../imagens/shrek.png) no-repeat center;
        background-size: cover;
    
        border-radius: 200px;
    }
    .personagem-burro{
        position:absolute;
        width:150px;
        height:150px ;
        margin-top:35%;
        margin-left:35%;
        background:url(../imagens/burro.jpg) no-repeat center;
        background-size: cover;
    
        border-radius: 200px;
    }
    .personagem-fiona{
        position:absolute;
        width:150px;
        height:150px ;
        margin-top:35%;
        margin-left:35%;
        background:url(../imagens/fiona.jpg) no-repeat center;
        background-size: cover;
        border-radius: 200px;
    }
    .titulo-apresentacao-do-personagem{
        font-weight: 1000!important;
        color:white;
        font-size: 35px;
        margin-top:25%;
        text-align:center;
    }
    .texto-apresentacao-do-personagem{
        text-align:center;
        color:white;
        font-size: 20px;
    }
    .cx-texto-apresentacao-do-personagem{
        width: 75%;
    }
    .cx-ajuste-shrek{width:95%;}
    .cx-texto-shrek{margin-left:18%;width:320px;}
    .cx-texto-burro{margin-left:10%;}
    .cx-texto-fiona{margin-left:10%;}
    .cx-titulo-ajuste{text-align:center;margin-bottom:20px;}

    .cx-titulo-ajuste{margin-left: 0%;margin-bottom: 2%;}
    .cx-titulo-ajuste-burro{margin-left: 0%;margin-bottom: 2%;}
    .cx-titulo-ajuste-fiona{margin-left: 0%;margin-bottom: 2%;}

    /*FILMES*/
    .background-filmes-shrek-1-2-3{width:100%;height:50%;}
    .background-filme-shrek-para-sempre{width:100%;height:500px;}
    .sobre-filme-shrek-1-2-3{
        text-indent: 30px;
        position:absolute;
        margin-top:25% ;
        width:90%;
        left:5% !important;
        height:50% !important;
        background:#011301B0;
    }

    .ajuste-sobre-filme-shrek-1{left:0;margin-top:22.3%;height: 50% !important;}
    .ajuste-sobre-filme-shrek-2{left:0;margin-top:143.5%;height:57.4%!important;}
    .ajuste-sobre-filme-shrek-3{left:0;margin-top:273.5%;height:62.4%!important;}

    .botao-assistir{
        color: rgb(4, 37, 0);
        border:solid 2px rgb(26, 90, 0);
        border-radius: 100px;
        font-weight: 1000;
        background:radial-gradient(rgb(60, 255, 0),rgb(10, 119, 0));
        font-size: 25px;
        padding: 10px 15px;
    }
  
    
    .posicao-botao-shrek1{margin-top:5%;}
    .posicao-botao-shrek2{margin-top: 7%;}
    .posicao-botao-shrek3{margin-top: 5%;}
    .posicao-botao-shrek-para-sempre{margin-top:5%;margin-left:0;}

    .sobre-filme-shrek-para-sempre{
        position:absolute;
        margin-top:5%;
        width:90%;
        left:5%;
        border-radius: 10px;
        background:#011301B0;
        height:53.1%;
    }
    .config-texto-filmes{color:white;font-size: 15px;text-align: center;}
    .cx-texto-filmes-shrek-1-2{width:80%;margin-top:3%;}
    .cx-texto-filme-shrek-3{width:80%;margin-top:3%;}
    .cx-texto-filme-shrek-para-sempre{width:80%;margin-top:3%;margin-left:10%;}

    .config-titulo-filmes-shrek-1-2{text-decoration:underline;font-size:30px;margin-top: 3%;font-weight: 1000;}
    .config-titulo-filme-shrek-3{text-decoration:underline;font-size:30px;margin-top: 10%;font-weight: 1000;}
    .config-titulo-filme-shrek-para-sempre{text-decoration:underline; margin-top:1%;font-size:30px;font-weight: 1000;}

    /*FILMES*/
 

    }


/*CELULAR----------------------------------------------------------------------*/


/*TAMANHO DA FONTE EM TELAS MENORES*/
@media (min-width:1500px){
    .titulo-apresentacao-do-personagem,.texto-apresentacao-do-personagem{font-size:230%;margin-left: 17%;}
    .titulo-apresentacao-do-personagem{margin-top: 0.5%;margin-left: 22%;font-size: 360%!important;}
    .cx-titulo-ajuste-burro{margin-left: 59%;margin-bottom: 2.2%;}
    .cx-titulo-ajuste-fiona{margin-left: 26%;}
    .cx-texto-shrek{margin-left:5%;width:1000px;margin-top:1.5%;}
    .cx-texto-burro{margin-left:40%;width:1000px;}
    .cx-texto-fiona{margin-left:5%;width: 1000px;margin-top: 1.5%;}
    .cx-texto-filme-shrek-para-sempre{width:33%;margin-left:33%;margin-top:1.5%;font-size:25px;}
    .config-titulo-filme-shrek-para-sempre{margin-top:1%;font-weight: 1000;text-align:center;}
    .config-titulo-filmes-shrek-1-2{font-weight: 1000;}
    .config-titulo-filme-shrek-3{font-weight: 1000;}
    .sobre-filme-shrek-1-2-3{height:65%;font-size:22px;text-align: center;}
    .sobre-filme-shrek-para-sempre{height:66%;}
    
}


/*TAMANHO DA FONTE EM TELAS MENORES*/

/*TELAS MENORES*/