*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
@import url(//db.onlinewebfonts.com/c/2179845ee578cd3bb30b55dc922bfb38?family=Shrek);
.fonte-do-shrek{
    font-family: "Shrek"; src: url("//db.onlinewebfonts.com/t/2179845ee578cd3bb30b55dc922bfb38.eot"); src: url("//db.onlinewebfonts.com/t/2179845ee578cd3bb30b55dc922bfb38.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2179845ee578cd3bb30b55dc922bfb38.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2179845ee578cd3bb30b55dc922bfb38.woff") format("woff"), url("//db.onlinewebfonts.com/t/2179845ee578cd3bb30b55dc922bfb38.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2179845ee578cd3bb30b55dc922bfb38.svg#Shrek") format("svg"); 
}
a{text-decoration:none;}
html{scroll-behavior:smooth;}
body{background:#005819C7!important;overflow-x: hidden;}
li{list-style: none;}

.navbar{
    display:flex;
    justify-content:space-between;
    padding:17px 20px;
    height:115px;
    min-width:1275px;
    background:#041B00;
}

.navbar .ul_dos_links_da_navbar{display: flex;align-items: center;}


.navbar .links_da_navbar{
    transition:all 0.35s;
    padding-left:38px;
    font-weight:700;
    font-size:30px;
    color:white;
    
}

.navbar .links_da_navbar:hover{
    transition: all 0.35s;
    color:rgb(0, 255, 13);
    text-shadow: greenyellow 0px 0px 40px;
}




/*LOGO*/
.logo{
    width: max-content;
    padding:7px 9px;
    background-image: radial-gradient(#145902,#145902,#0b3101);
    border-radius: 100px;
    border:solid 6px #1B8600;
}

.logo:hover{
    background-image: radial-gradient(#bdffad,#69ff43,#2d9e11);
}

.logo h1{
   font-size:40px;
   background: linear-gradient(to top, green,greenyellow);
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
}
.logo:hover h1{
    background: linear-gradient(to top, rgb(0, 185, 9),rgb(5, 150, 0));
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
}
/*LOGO*/

/*contato e loja*/

.contato_e_loja{
    border-left:solid white 3px;
    margin-top:10px ;
    width: 200px;
    height:60px ;
}

.contato_e_loja img{border-radius: 50px;}

.contato_e_loja img:hover{
    transition: all 0.35s;
    border-radius: 50px;
    background:radial-gradient(greenyellow,rgb(77, 114, 22)) ;
    margin-top:10px;
    height:100px ;
    box-shadow: #59ff2f 0px 0px 40px;
}

.contato_e_loja img:active{
    transition: all 0.35s;
    background:radial-gradient(rgb(85, 126, 24),rgb(12, 19, 4)) ;
    border-radius: 100px;
}

.contato{
    position:absolute;
    width: 100px;
    top:0px;
    right:100px;
}
.contato-txt{
    display:none;
    position:absolute;
    top:80px;
    right:115px;
    color:white;
}


.loja{
    position:absolute;
    width: 100px;
    top:0px;
    right:0px;
}
.loja-txt{
    display:none;
    position:absolute;
    top:80px;
    right:30px;
    color:white;
}


/*contato e loja*/

/*MENU (ESCONDIDO)-----------------------------------------------------*/
.menu{
    display:none;
}

#nav-mobile{
   display:none;
}
.navbar-mobile{
   display: none;
    
}
/*MENU (ESCONDIDO)-----------------------------------------------------*/

/*FOOTER*/
.footer{
    color:white;
    display:flex;
    justify-content:center;
    align-items: center;
    height:90px;
    min-width:1275px;
    background:#041B00;
}
/*FOOTER*/

/*BOTAO DE VOLTAR (NA PARTE DOS FILMES)*/
.btn-inicio{
    position:absolute;
    margin-top:1%;
    left:1%;
}
.btn-inicio img{
    width:50px;
    border-radius:50px;
    background:radial-gradient(rgb(1, 255, 1),rgb(0, 44, 0));
}
.btn-inicio img:hover{
    border-radius:50px;
    background:radial-gradient(rgb(73, 253, 73),rgb(1, 119, 1));
}
.btn-inicio img:active{
    border-radius:50px;
    background:radial-gradient(rgb(0, 15, 0),rgb(1, 97, 1));
    box-shadow:greenyellow 0px 0px 40px;
}

/*BOTAO DE VOLTAR (NA PARTE DOS FILMES)*/

/*NAV BAR E FOOTER EM CELULAR*/
@media only screen and (max-width:480px){
    .menu{
        display:block;
        margin:7px 0;
        margin-left:auto; 
        overflow: hidden;
    }
    .menu img{width:100px;}
    
    #nav-mobile{
        display:block;
        position:absolute;
        background:transparent;
        width: 100%;
        height: 100%;
    }
    .navbar-mobile{
        display:block;
        left:500px;
        padding-left:10px;
        position:absolute;
        background: rgba(39, 122, 0, 0.342);
        width: 100%;
        height: 350px;
        right:0px;
        border-radius:0  0 30px 30px;
        
    }
    .navbar-mobile .ul_dos_links_da_navbar a{
        display: flex;
        align-items: center;
        padding: 5px;
        margin-top:10px;
        width: 100%;
        padding: auto;
        
    }
    .navbar-mobile .links_da_navbar{
        color:rgb(255, 255, 255);
        font-size:45px;
        font-weight: 1000;
    }
    .navbar-mobile .links_da_navbar:active{
        background-color: rgb(16, 141, 0);
        color:rgb(170, 255, 162);
        transition: all 0s;
        
    }
    
    .navbar{padding:0;min-width:100%;justify-content: flex-start;width:100px;}
    .navbar .ul_dos_links_da_navbar{display: none;}
    .navbar .contato_e_loja{display: none;}
    .logo{margin:20px 10px ;height:70px;width:290px;}
    .logo h1{padding:7px 9px;font-size: 26px;}
    .menu{display:block;}


    #nav-mobile:target{
        transition:all 0.5s;
        background:rgba(0, 0, 0, 0.63);
    }
    #nav-mobile:target .navbar-mobile{
        transition:all 0.5s 1ms;
        left:0%;
        
    }
    
       /*FOOTER*/
    .footer{
        color:white;
        display:flex;
        justify-content:flex-end;
        align-items: center;
        height:50px;
        min-width:390px;
        background:#041B00;
    }
    .footer h1{
        font-size:14px;
    }
    /*FOOTER*/
    /*BOTAO PARA VOLTAR PRA CIMA*/
    .btn-inicio{
        position:absolute;
        margin-top:0.75%;
        left:1%;
    }
    .btn-inicio img{
        width:40px;
        border-radius:50px;
        background:radial-gradient(rgb(1, 255, 1),rgb(0, 44, 0));
    }

    /*BOTAO PARA VOLTAR PRA CIMA*/
}